/* Global styles for the responsive background */

.svg-image {
    display: block;
    width: 100%; /* Fit the width to the screen */
    height: auto; /* Maintain the aspect ratio */
}


/* Extra Small Devices (Phones, less than 576px) */
@media (max-width: 575.98px) {
    .test {
    }
}

/* Small Devices (Tablets, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .test {
    }
}

/* Medium Devices (Desktops, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .test {
    }
}

/* Large Devices (Desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .test {
    }
}

/* Extra Large Devices (1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
    .test {
    }
}

/* Ultra Large Devices (1400px and up) */
@media (min-width: 1400px) {
    .test {
    }
}
