<nav class="navbar navbar-light" style="background-color: #0f0b1d;">
    <a class="navbar-brand" href="#">
      <img src="../assets/logo.svg" width="" height="30" class="d-inline-block align-top" alt="" style="width: 10rem;
    margin-left: 2rem;">
    </a>
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active about" href="#">About Us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active about" href="#">Pricing</a>
        </li>
    </ul>
    <ul class="nav justify-content-center" style="margin-left: 5rem;">
        <li class="nav-item">
          <app-apple-button-top></app-apple-button-top>
        </li>
        <li class="nav-item" style="padding-left: 1rem;">
            <app-spotify-button-top></app-spotify-button-top>
        </li>
    </ul>
</nav>
<div class="main">
    <div class="row head">
        <div class="col" style="    height: 90vh;
        display: flex;
        align-items: center;
        justify-content: center;">
            <div class="row" style="display: flex;justify-content: center;">
                <div class="col" style="display: flex;justify-content: center;  margin-bottom: 3rem;">
                    <h1 class="header">Convert Spotify And Apple Playlists to YouTube Urls</h1>
            </div>
            <div class="row">
                <div class="col" style="display: flex;justify-content: flex-end;"><app-apple-button></app-apple-button></div>
                <div class="col"><app-spotify-button></app-spotify-button></div>
            </div>
        </div>
    </div>
    <div class="row center">
        <div class="col">
            <div class="row" style="height: 60vh;">
                <div class="col" style="justify-content: center; display: flex;">
                    <img src="../assets/main-frame.svg" style="width: 75vw;">
                </div>
            </div>
            <div class="row" style="height: 40vh;
            display: flex;
            align-content: center;">
                <h1 class="center-head">How It Works</h1>
            </div>
            <div class="row" style="height: 60vh;">
                <div class="col" style="justify-content: center; display: flex;">
                    <img src="../assets/center-diagram.svg" style="width: 60vw;">
                </div>
            </div>
        </div>
    </div>
    <div class="row bottom">
        <div class="col">

        </div>
    </div>
</div>
